.product-listing {
   padding:2rem 0rem 4rem 10rem;
    width: 100%;
    display:flex;
    justify-content: center;
    align-self: flex-start;
  }
  
  .product-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); 
  }
  
