

.container {
    display: flex;
    padding: 5rem 6.3125rem 15.5625rem 6.1875rem;
    gap: 4rem;
    width: 100%;
  }
  
.menu {
    width: 20.875rem;
    height: 18.5rem; 
    background-color: #FFFFFF; 
    border-radius: 8px;
  }
  
.menu h3{
    color:#474747;
    padding:1.875rem 0 1.25rem 1.875rem;
    font-weight: 700;
    font-size: 1rem;
  }

.menu li{
    color:#474747;
    font-weight: 500;
    padding: 1.7rem 1rem;

  }

.menu li:hover a{
    color: #C92071;
  }


.menu hr{
    height: 1px;
    background-color: #CCCCCC; 
    width: 17.125rem;
    margin: 0 auto; 
  }

  .info-area {
    width: 55.625rem;
    height: 33rem;
    background-color: #FFFFFF;
    padding: 30px 0px 0px 0px;
    border-radius: 0.25rem;
  }

  .info-area p{
    padding: 1.875rem 0 1.25rem 1.875rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.0469rem;
    color :#474747;
    }

    .info-area hr{
     height: 1px; 
     width: 51.875rem; 
    margin-top: 1.25rem;
    color: #CCCCCC;
    margin: 0 auto;
    }

  .personal-info h1{
    color:#474747;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .0469rem;
    padding:1.25rem 0 .625rem 1.8rem;
  }
  
  .personal-info h2{

  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.0156rem;
  color:#8F8F8F;
  padding:0.625rem 0 0.6rem 1.875rem;
  }

  .personal-info span{

  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: .0156rem;
  color: #1F1F1F;
  padding-left: 0.1rem;
  }

  .delivery-info h1{
    color:#474747;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .0469rem;
    padding:1.25rem 0 .625rem 1.8rem;
  }
  
  .delivery-info h2{

  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.0156rem;
  color:#8F8F8F;
  padding:0.625rem 0 0.6rem 1.875rem;
  }

  .delivery-info span{

  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: .0156rem;
  color: #1F1F1F;
  padding-left: 0.1rem;
  }