.filter {
    background-color: white;
    width: 19.25rem;
    height: auto; /* Ajuste a altura conforme necessário */
    padding: 1.875rem 1rem 0 0;
    gap: 1.25rem;
    border-radius: 4px;
    font-family: "Inter";
    position: relative;
}

.filter hr {
    width: 82%;
    font-size: 16px;
    margin: 0 auto;
    background-color: seagreen;
    height: 1px;
    border: none; /* Adicione esta linha para remover qualquer borda padrão */
}

.filter h1 {
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
    padding: 0rem 0rem 0.8rem 1.6rem;
}

.filter h2 {
    text-align: left;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5rem 0;
}

.filter ul {
    list-style-type: none;
    padding: 0;
}

.filter li {
    margin: 0.5rem 0;
}

.filter input[type="checkbox"] {
    margin-right: 0.5rem;
}