a.cadastro{
    text-decoration: underline;
}
.entrar{
    background-color: #C92071;
    color: #ffffff;
    border-radius: 4px;
    width: 7.125rem;
    font-size: .875rem;
    height: 2.5rem;
}

.bcarrinho{
    background-color: #ffffff;
}