/* main{
   display: flex;
   justify-content: center; 
} */

.buybox{
    display: flex;
    gap: 2rem;
}

.meu-carrinho{
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 60%;
    /* height: auto; */
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start;  */
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 3.1rem;
    gap: 1rem;
}
.carrinho{
    width: 100%;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* justify-content: space-between; */
}

.titulo{
    color:#474747;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    font-size: .875rem;
    letter-spacing: 0.75px;
    justify-content: space-between;
}

.subtitulo{
    color:#474747;
    font-weight: 400;
    display: flex;
    gap: 2rem;
}

.linha{
    border: solid 1px;
    color: #cccccc;
}

.sobreproduto{
    display: flex;
    gap: 1rem;
}

.product-image{
    height: 7rem;
    width: 9rem;
}

.descricaoproduto{
    display: flex;
    flex-direction: column;
}

.nomeproduto{
    color: #1f1f1f;
}

.type-color{
    font-size: .875rem;
    color: #1f1f1f;
}

.type-size{
    font-size: .875rem;
    color: #1f1f1f;
}

.prod-size{
    color: #8f8f8f;
    display: flex;
    font-size: .875rem;
}

.prod-color{
    color: #8f8f8f;
    display: flex;      
    font-size: .875rem;
}

.card-produto{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 2.1rem;
    margin-right: 1rem;

}


.adiciona, .remove{
    height: 45px;
    width: 45px;
    overflow: hidden;
    border: none;
}

.adicionaimg, .removeimg{
    height: 45px;
    width: 45px;
    /* overflow: hidden; */
}

.contador{
    display: flex;
    gap: 1rem;

}

.numero{
    color: #1f1f1f;
}

.remover{
    text-decoration: underline;
    color: #474747;
    background-color:#ffffff;
    border: none;
    cursor: pointer;
}

.containder-cont{
    text-align: center;
    display: flex;
}

.valor-unitario{
    display: flex;
    flex-direction: column;
}

.valor-semdesc{
    color: #CCCCCC;
    text-decoration: line-through;
    size: 14px;

}

.valor-desc{
    color: #1f1f1f;
    size: 16px;
}

.quant-uni-val{
   display: flex;
   gap: 2rem;
}

.cupom-cep{
    display: flex;
    gap: 3rem;
}

.cep, .cupomdesc{
    color: #1f1f1f;
    font-size: 1rem;
}

.incep, .cupom{
    background-color: #f5f5f5;
    color: #8f8f8f;
    height: 3.75rem;
    width: 16.875rem;
    border: #f5f5f5;
    border-radius: 0.5rem;
    text-align: justify;

}

.OK{
    background-color: #f5f5f5;
    color: var(--cor-principal);
    height: 3.75rem;
    width: 7.125rem;
    border-radius: .5rem;
}

.resumo-pedido{
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 32%;
    /* height: auto; */
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start;  */
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 3.1rem;
    gap: 1rem;
}

.resumo{
    color: #1f1f1f;
    font-weight: 700;
    font-size: 1.5rem;
}

.subtotal, .frete, .desconto,.total{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.subtot, .fret, .discout{
    color: #8f8f8f;
    font-size: 1.3rem;
}

.valor-frete, .valor-desconto, .valor{
    font-size: 1.3rem;
    color: #1f1f1f;
}

.totalval{
    font-size: 2rem;
    color: #1f1f1f;
    font-weight: 700;

}

.valor-total{
    font-size: 2rem;
    font-weight: 700;
}

.comprar{
    background-color: #f6aa1c;
    color: #ffffff;
    width: 35rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;

}
