

.form-cadastro-container {
  display: flex;
  max-width: 700px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

img {
  width: 70%; 
  height: auto; 
}

h1 {
text-align: center;
width: 80rem;
height: 36px;
top: 150px;
left: 344px;
gap: 0px;
opacity: 0px;
}

/* 

.section {
top: 448px;
left: 30px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
margin-bottom: 20px;
background-color: #ffffff;
} */

.section {
width: Fixed (750px)px;
height: Hug (538px)px;
top: 208px;
left: 345px;
padding: 30px 0px 0px 0px;
gap: 20px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;

}



.form-group {
  /* margin-bottom: 15px; */
  width: 690px;
height: 89px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}



.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}



.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



.checkbox-group {
  display: flex;
  align-items: center;
}



.checkbox-group label {
  margin-left: 10px;
  font-size: 14px;
}



.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #d10070;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 2rem;
}



.submit-button:hover {
  background-color: #b0005e;
 
}

.email-loja {
  display: flex;
  padding: 1rem;  
}

input {
width: 100px;
height: 25px;
top: 121px;
left: 30px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

  background-color: aliceblue;
}

.root {
  background-color: rgb(34, 0, 204);
}

hr {
  width: 690px;
  height: 0px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  
}
