

.form-cadastro-container {
  display: flex;
  width: 50rem;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.h1cria {
text-align: center;
color: #1f1f1f;
margin-top: 2rem;
}

/* 

.section {
top: 448px;
left: 30px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
margin-bottom: 20px;
background-color: #ffffff;
} */

.section {
/* top: 208px;
left: 345px; */
padding: 30px 0px 0px 0px;
gap: 20px;
border-radius: 4px 0px 0px 0px;
/* width: 12rem; */

}



.form-group {
  /* margin-bottom: 15px; */
width: 690px;
height: 89px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
}



.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #1f1f1f;
}



.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



/* .checkbox-group {
  display: flex;
  align-items: center;
} */

/* 

.checkbox-group label {
  margin-left: 10px;
  font-size: 14px;
} */



.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #d10070;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 2rem;
}

.email-loja {
  display: flex;
  padding: 1rem;  
}

.newsletter {
width: 100px;
height: 25px;
top: 121px;
left: 30px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}

.linha {
  width: 690px;
  height: 0px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  
}

.labelnews{
color: #474747;
}

.infocad{
  color: #1f1f1f;
}

